*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'ArcadeClassic', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.game-board{
    width: 40%;
    height: 40%;
    background-color: rgb(2, 188, 249);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.button-container {
    display: flex; 
    justify-content: center; 
}

#button{
    position:relative;
    display:inline-block;
    margin:20px;
  }

  a{
    text-decoration: none;
    color: #fff;
  }

  
  #button {
    color:white;
    font-family:'ArcadeClassic',Helvetica, sans-serif;
    font-weight:bold;
    font-size:2vw;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:5% 10%;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  #button:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  #button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  
